<IfModule authz_core_module>
	Require all denied
</IfModule>
<IfModule !authz_core_module>
	Deny from all
</IfModule>
<IfModule mod_expires.c>
	ExpiresActive On

	ExpiresByType text/css "access plus 1 year"
	ExpiresByType application/javascript "access plus 1 year"
	ExpiresByType image/webp "access plus 1 year"
	ExpiresByType image/png "access plus 1 year"
	ExpiresByType image/svg+xml "access plus 1 year"
	ExpiresByType image/jpeg "access plus 1 year"
</IfModule>

<IfModule mod_headers.c>
	<FilesMatch "\.(css|js|png|jpg|jpeg|webp|svg)$">
		Header set Cache-Control "public, max-age=31536000, immutable"
	</FilesMatch>
</IfModule>